################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/flyer/bin
/flyer/obj
/packages
/flyer.vssscc
Default Settings.pubxml.user
Web Deploy.pubxml.user
/flyer/node_modules
/flyer/Scripts/dist
